* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

body {
  color: 
#2E2F42;
font-family: 'Roboto', sans-serif;
}

li, ul, ol {
  list-style-type: none; 
padding: 0;
margin: 0;
}
